@using LA_LIGA_REKREATIVO.Client.Services;
@using LA_LIGA_REKREATIVO.Shared.Dto;
@using LA_LIGA_REKREATIVO.Client.Server;

@inject Server Server
@inject FileService _fileService
@inject NavigationManager Navigation

<Card Size="small">
    <Body>
        <AntList Class="demo-loadmore-list" DataSource="@stats" ItemLayout="ListItemLayout.Horizontal" Loading="@InitLoading">
            <ChildContent Context="item">
                <ListItem Style="padding: 2px 0;">
                    <ListItemMeta>
                        <TitleTemplate>
                            <span>
                                <img class="player-img" src="@_fileService.GetImagePath(item.Player.Picture)" />
                            </span>
                            <span>
                                <a @onclick="() => GoToProfilePage(item.Player.Id)">@item.Player.FullName</a>
                                @if (item.Player.IsGk)
                                {
                                    <span>
                                        (GK)
                                    </span>
                                }
                            </span>
                        </TitleTemplate>
                    </ListItemMeta>
                    <div>@item?.TotalPoints <Icon Type="star" Theme="fill" /></div>
                </ListItem>
            </ChildContent>
        </AntList>
    </Body>
</Card>

@code {
    [Parameter] public int TeamId { get; set; }
    public bool InitLoading { get; set; } = true;
    private List<PlayerStatsDto> stats = new();

    protected async override Task OnParametersSetAsync()
    {
        var resStats = await Server.Players.GetTeamPlayers(TeamId);
        stats = resStats.ToList();
        InitLoading = false;
    }

    // protected async override void OnInitialized()
    // {
    //     var resStats = await Server.Players.GetTeamPlayers(TeamId);
    //     stats = resStats.ToList();
    // }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private void GoToProfilePage(int id)
    {
        Navigation.NavigateTo($"/playerProfile/{id}");
    }
}
