@using LA_LIGA_REKREATIVO.Client.Server;
@using LA_LIGA_REKREATIVO.Shared.Dto;
@inject Server Server;

<Table @ref="standingsTable"
       TItem="TeamStatsDto"
       DataSource="@stats"
       Size="TableSize.Small"
       HidePagination>
    <PropertyColumn Title="#" Property="c=>c.OrderId"></PropertyColumn>
    <PropertyColumn Title="Name" Property="c=>c.Team.Name" />
    <PropertyColumn Title="MP" Property="c=>c.GamePlayed" />
    <PropertyColumn Title="G" Property="c=>c.Goals">
        @context.Goals:@context.GoalsConceded
    </PropertyColumn>
    @if (League.IsOverallLeague)
    {
        <PropertyColumn Title="PTS" Property="c=>c.PointsByCoefficient" />
    }
    else
    {
        <PropertyColumn Title="PTS" Property="c=>c.TotalPoints" />
    }

</Table>

@code {
    [Parameter] public LeagueDto League { get; set; }
    TeamStatsDto teamStats = new();
    List<TeamStatsDto> stats = new();
    bool loading;
    public Table<TeamStatsDto> standingsTable = null!;
    [Parameter]
    public EventCallback<bool> IsLoading { get; set; }

    protected async override Task OnInitializedAsync()
    {
        stats = League.IsOverallLeague ?
           await Server.Matches.GetCommonStanding() :
           await Server.Matches.GetStandingsByLeague(League.Id);

        SetOrderId(stats);
        //base.OnInitialized();
    }

    public async Task ReloadData(LeagueDto league)
    {
        League = league;
        //await OnInitializedAsync();
        // loading = true;
        stats = league.IsOverallLeague ?
          await Server.Matches.GetCommonStanding() :
          await Server.Matches.GetStandingsByLeague(league.Id);
        SetOrderId(stats);
        await IsLoading.InvokeAsync(true);
        StateHasChanged();
    }

    private void SetOrderId(List<TeamStatsDto> teamStats)
    {
        int orderId = 1;
        stats.ForEach(x => { x.OrderId = orderId; orderId++; });
        StateHasChanged();
    }
}
