@page "/admin"

<h3>Admin</h3>

@if (ShowAddNewPlayerialog)
{
    <AddNewPlayer></AddNewPlayer>
}

@if (ShowAddNewTeamDialog)
{
    <AddNewTeam _visible="@ShowAddNewTeamDialog"></AddNewTeam>
}

@if (ShowAddNewMatchDialog)
{
    <AddNewMatch></AddNewMatch>
}

@if (ShowAddNewLeagueDialog)
{
    <AddNewLeague CloseModal="HandleCloseModal"></AddNewLeague>
}

@if (ShowTeamsToLeagueDialog)
{
    <AddTeamToLeague></AddTeamToLeague>
}

<Button OnClick="OpenDialog">Add new player</Button>

<Button OnClick="OpenTeamDialog">Add new team</Button>

<Button OnClick="OpenMatchDialog">Add new match</Button>

<Button OnClick="OpenLeagueDialog">Add new league</Button>

<Button OnClick="OpenTeamstoLeagueDialog">Add teams to league</Button>




@code {
    public bool ShowAddNewPlayerialog = false;
    public bool ShowAddNewTeamDialog = false;
    public bool ShowAddNewMatchDialog = false;
    public bool ShowAddNewLeagueDialog = false;
    public bool ShowTeamsToLeagueDialog = false;


    protected void OpenDialog()
    {
        ShowAddNewPlayerialog = true;
    }

    protected void OpenTeamDialog()
    {
        ShowAddNewTeamDialog = true;
    }

    protected void OpenMatchDialog()
    {
        ShowAddNewMatchDialog = true;
    }

    protected void OpenLeagueDialog()
    {
        ShowAddNewLeagueDialog = true;
    }

    protected void OpenTeamstoLeagueDialog()
    {
        ShowTeamsToLeagueDialog = true;
    }

    public void HandleCloseModal()
    {
        ShowAddNewLeagueDialog = false;
    }

}
