@page "/admin"

<h3>Admin</h3>

@if (showAddPlayerModal)
{
    <AddNewPlayer CloseModal="CloseAddPlayerModal"></AddNewPlayer>
}

@if (showAddTeamModal)
{
    <AddNewTeam CloseModal="CloseAddTeamModal"></AddNewTeam>
}

@if (showAddMatchModal)
{
    <AddNewMatch CloseModal="CloseAddMatchModal"></AddNewMatch>
}

@if (showAddLeagueModal)
{
    <AddNewLeague CloseModal="CloseAddLeagueModal"></AddNewLeague>
}

@if (showTeamsToLeagueModal)
{
    <AddTeamToLeague></AddTeamToLeague>
}

<Button OnClick="OpenAddPlayerModal">Add new player</Button>
<Button OnClick="OpenAddTeamModal">Add new team</Button>
<Button OnClick="OpenAddMatchModal">Add new match</Button>
<Button OnClick="OpenAddLeagueModal">Add new league</Button>
<Button OnClick="OpenTeamsToLeagueModal">Add teams to league</Button>

@code {
    private bool showAddPlayerModal;
    private bool showAddTeamModal;
    private bool showAddMatchModal;
    private bool showAddLeagueModal;
    private bool showTeamsToLeagueModal;

    #region AddLeague
    private void OpenAddLeagueModal()
    {
        showAddLeagueModal = true;
    }

    private void CloseAddLeagueModal()
    {
        showAddLeagueModal = false;
    }
    #endregion

    #region AddTeam
    private void OpenAddTeamModal()
    {
        showAddTeamModal = true;
    }

    private void CloseAddTeamModal()
    {
        showAddTeamModal = false;
    }

    #endregion

    #region AddPlayer
    private void OpenAddPlayerModal()
    {
        showAddPlayerModal = true;
    }

    private void CloseAddPlayerModal()
    {
        showAddPlayerModal = false;
    }

    #endregion

    #region AddMatch
    private void OpenAddMatchModal()
    {
        showAddMatchModal = true;
    }

    private void CloseAddMatchModal()
    {
        showAddMatchModal = false;
    }
    #endregion

    protected void OpenTeamsToLeagueModal()
    {
        showTeamsToLeagueModal = true;
    }
}
