@page "/matches"
@using LA_LIGA_REKREATIVO.Client.Shared.Matches;
@using LA_LIGA_REKREATIVO.Shared;
@using LA_LIGA_REKREATIVO.Shared.Dto;
@using LA_LIGA_REKREATIVO.Client.Server;
@using System.Net.Http.Headers;
@using Microsoft.Extensions.Localization

@inject Server Server
@inject NavigationManager Navigation
@inject HttpClient Http
@inject IStringLocalizer<Pages.Matches> Localizer


<div style="display:flex; margin-bottom:12px;">
    <Button Style="width: 50%;" OnClick="handleIsydate">@Localizer["Results"]</Button>
    <Button Style="width: 50%;" OnClick="handleIsByRound">@Localizer["Fixtures"]</Button>
</div>

@if (isByDate)
{
    <MatchesByGameTime></MatchesByGameTime>
}
else
{
    <Fixtures></Fixtures>
}

@code {
    private bool isByDate = true;

    void handleIsydate()
    {
        isByDate = true;
        StateHasChanged();
    }

    void handleIsByRound()
    {
        isByDate = false;
        StateHasChanged();
    }
}
